 @use '../custom' as *;
 @use  '../components/mixins' as *;

 .manu{
     @include gradient;

     li {
         padding: 0 0.7rem;

         a {
             color: $white !important;
             text-transform: capitalize;
             font-weight: 600;
         }
     }

 }

.ttitle{
    color  : $white !important;
    text-transform: capitalize;
             font-weight: 600;
}